<!DOCTYPE html>
<html ng-app="kanbanBoardApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        .colStyle
        {            
            margin-right: 10px;
            width: 24%;
            padding-top: 10px;
            margin-top: 20px;
            border: 1px solid orange;
            min-height: 500px;
        }
               
        .flyover .alert {
            left: 40%;
            top: 5%;
            position: fixed;
            z-index: 1050;
            width: 400px;
            height: 40px; 
            padding-left: 10px;
            padding-top:10px;
            background-color:lightgreen;
            color:black;
            border-color: transparent;
        }

        .flyover .mask {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background: black;
            z-index: 1049;
        }
    </style>


</head>
<body>

    
        @RenderBody()
    
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.3.js"></script>

    <script src="~/AppScript/main.js"></script>
    <script src="~/AppScript/draganddrop.js"></script>
    <script src="~/AppScript/boardService.js"></script>
    <script src="~/AppScript/boardCtrl.js"></script>

</body>
</html>
