<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.serviceModel>
    <bindings>          
      <wsHttpBinding>
        <binding name="RoutingServBindings">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52767/ServVersion1.svc" binding="basicHttpBinding"
        contract="*" name="ServVersion1EndPoint" />
      <endpoint address="http://localhost:52768/ServVersion2.svc" binding="basicHttpBinding"
        contract="*" name="ServVersion2EndPoint" />   
    </client>
    <services>
      <service behaviorConfiguration="routingConfiguration"
               name="System.ServiceModel.Routing.RoutingService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:52771/RouterServ.svc" />
          </baseAddresses>
        </host>
        <!--Set up the inbound endpoint for the Routing Service-->
        <endpoint address="RouteMyCall"
                  binding="wsHttpBinding" bindingConfiguration="RoutingServBindings"
                  name="routeServEndpoint"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>

    <behaviors>
      <!--default routing service behavior definition-->
      <serviceBehaviors>
        <behavior name="routingConfiguration">
          <routing filterTableName="filterTable1" />          
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
   


    <routing>
      <namespaceTable>
        <add prefix="custom" namespace="http://service.versions.namespace/"/>
      </namespaceTable>
      
      <filters>
        <filter name="XPathFilter" filterType="XPath" filterData="sm:header()/custom:VersionSelector = 1"/>
        <filter name="MatchAllFilter" filterType="MatchAll" />            
      </filters>
      
      <filterTables>
        <filterTable name="filterTable1">
          <add filterName="XPathFilter"	endpointName="ServVersion1EndPoint" priority="1"/>
          <add filterName="MatchAllFilter" endpointName="ServVersion2EndPoint" priority="0"/>                    
        </filterTable>
      </filterTables>
    </routing>


  </system.serviceModel>
</configuration>
