<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="RoutingServClientBindings">
            <security mode="None" />
          </binding>
        </wsHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:52771/RouterServ.svc/RouteMyCall" binding="wsHttpBinding"
                bindingConfiguration="RoutingServClientBindings" contract="ServVersion1Ref.IVersionService"
                name="RoutingServiceClientEndPoint" />
        </client>
    </system.serviceModel>
</configuration>
